*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}body{
display: flex;
justify-content: center;

}
span{
    font-size: 2.5rem;
    margin: 30px auto;
    font-weight: 600;
    text-align: center;
    position: absolute;
    top: -20px;
}
.calculator{
    height: 450px;
    width: 300px;
    margin-top: 80px;
    display: block;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
    border:0px solid black;
    
}
.calculator input{
    width: 100%;
    height: 85px;
    font-size: 2.5rem;
    border-radius: 5px;
    text-align: right;
    border:0px solid black;
    background-color: rgb(247, 238, 223);
    box-shadow: 0px 0px 10px rgb(94, 121, 148)
}
.number{
    height: 17%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    border: 0px solid black;
    margin: 0px 0;
}
.number button{
    border: 0px solid black;
    width: 23%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgb(219, 216, 216);
    font-weight: 540;
    font-size: 1.5rem;
    border-radius: 20%;
    box-shadow: 0px 0px 10px rgb(94, 121, 148);
}
.number button:hover{
    background: rgb(133, 134, 131);
    cursor: pointer;
}
.operator{
    color: #e00707;

}